@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300&family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300&family=Josefin+Sans&family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300&family=Josefin+Sans&family=Lato:wght@400;900&family=Zilla+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');



* {
  box-sizing: border-box;
  margin: 0px;
}

#backimg {
    position: absolute;
    height: 100vh;
    width: 1349px;
    margin: 0px;
    opacity: 1;
  }

#logoBack {
  margin-left: -150px;
  margin-top: -50px;
  position: absolute;
  opacity: 0.4;
  width: 500px;
  height: 500px;
}

#logo {
  position: absolute;
  margin-top: 50px;
  margin-left: 150px;
}

#fNavBar {
  position: absolute;
  margin-top: 50px;
  margin-left: 550px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity: 0.8;
  letter-spacing: 1.5px;
}

li a:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}

#signBtn1 {
  background-color: rgb(37, 7, 7);
  color: aliceblue;
  outline: none;
  border: none;
  float: right;
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
  position: absolute;
  margin-top: -45px;
  margin-left: 500px;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Zilla Slab", serif;
}

#signBtn2 {
  background-color: rgb(37, 7, 7);
  color: aliceblue;
  outline: none;
  border: none;
  float: right;
  font-size: 15px;
  padding: 10px;
  border-radius: 30px;
  position: absolute;
  margin-top: -45px;
  margin-left: 600px;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Zilla Slab", serif;
}

#signBtn2:hover {
  border: 1px solid white;
  cursor: pointer;
}

#signBtn1:hover {
  border: 1px solid white;
  cursor: pointer;
}

#firstImg1 {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 60px;
    right: 50px;
    opacity: 0.5;
  }

#firstImg2 {
  width: 180px;
  height: 350px;
  position: absolute;
  top: 150px;
  right: 250px;
}

#firstIcon1 {
  position: absolute;
  top: 400px;
  left: 30px;
  cursor: pointer;
}

#firstIcon2 {
  position: absolute;
  top: 450px;
  left: 30px;
  cursor: pointer;
}

#firstIcon3 {
  position: absolute;
  top: 500px;
  left: 30px;
  cursor: pointer;
}

#scrollBtn {
  color: white;
  font-size: 10px;
  letter-spacing: 1px;
  position: absolute;
  top: 560px;
  right: 50px;
  transform: rotate(270deg);
  cursor: pointer;
}

#scrollImg {
  position: absolute;
  bottom: 2px;
  right: 40px;
  transform: rotate(180deg);
}

#firstFooters {
  width: 1048px;
  height: 120px;
}

#nonee {
  position: absolute;
  top: 560px;
  left: 0px;
  background-color: white;
  padding: 60px 80px;
}

#first {
  background-color: white;
  padding: 32px 32px;
  position: absolute;
  top: 560px;
  left: 150px;
  text-align: center;
  cursor: pointer;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Zilla Slab", serif;
}

#sec {
  background-color: white;
  padding: 32px 27px;
  position: absolute;
  top: 560px;
  left: 340px;
  text-align: center;
  cursor: pointer;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Zilla Slab", serif;
}

#third {
  background-color: white;
  padding: 32px 25px;
  position: absolute;
  top: 560px;
  left: 510px;
  text-align: center;
  cursor: pointer;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Zilla Slab", serif;
}

#quickBtn {
  background-color: rgb(219, 21, 54);
  color: white;
  letter-spacing: 2px;
  word-spacing: 2px;
  border: none;
  padding: 40px 60px;
  position: absolute;
  top: 560px;
  left: 730px;
  text-align: center;
  cursor: pointer;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Zilla Slab", serif;
  border-radius: 0px 50px 0px 0px;
}

#ftxt1 {
  opacity: 0.5;
  font-size: 12px;
  word-spacing: 2px;
}

#ftxt3 {
  opacity: 0.5;
  font-size: 12px;
  word-spacing: 2px;
}

#ftxt5 {
  opacity: 0.5;
  font-size: 12px;
  word-spacing: 2px;
}

#midHead {
  position: absolute;
  top: 200px;
  left: 150px;
  color: white;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 25px;
  font-family: "Lato", sans-serif;
}

#p1 {
  position: absolute;
  top: 330px;
  left: 150px;
  color: white;
  word-spacing: 2px;
  font-family: "Blinker", sans-serif;
  font-family: "Lato", sans-serif;
}

#p2 {
  position: absolute;
  top: 350px;
  left: 150px;
  color: white;
  word-spacing: 2px;
  font-family: "Blinker", sans-serif;
  font-family: "Lato", sans-serif;
}

#visitBtn {
  position: absolute;
  top: 400px;
  left: 150px;
  cursor: pointer;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 2px;
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid rgb(228, 36, 68);
  outline: none;
  background-color: rgb(177, 49, 70);
  color: white;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

#quickBtnLine {
  position: absolute;
  top: 47px;
  left: 178px;
}

#visitBtnLine {
  position: absolute;
  top: 415px;
  left: 295px;
}

#secPage {
  background-color: rgb(221, 213, 213);
  height: 100vh;
  position: absolute;
  top: 657px;
}

#secP1 {
  margin-top: 30px;
  margin-left: 180px;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Zilla Slab", serif;
}

#secHead1 {
  margin-top: 10px;
  margin-left: 180px;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Zilla Slab", serif;
}

#secHead2 {
  margin-top: 10px;
  margin-left: 180px;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Zilla Slab", serif;
}

#mainVideoImg {
  margin: 0px 180px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

/* #gridContainer {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
} */

#armingImg {
  height: 220px;
  width: 600px;
  margin-top: 20px;
}

#installImg {
  height: 220px;
  width: 350px;
  margin-top: 20px;
  margin-left: 15px;
}

#cctvImg {
  height: 220px;
  width: 350px;
  margin-top: 15px;
}

#sensorsImg {
  height: 220px;
  width: 600px;
  margin-top: 15px;
  margin-left: 15px;
}

#armingtxt {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 320px;
  left: 200px;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

#arminginnertxt {
  font-size: 15px;
  color: black;
  position: absolute;
  top: 350px;
  left: 200px;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

#installtxt {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 320px;
  left: 820px;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

#installinnertxt {
  font-size: 15px;
  color: black;
  position: absolute;
  top: 350px;
  left: 820px;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

#cctvtxt {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 560px;
  left: 200px;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

#cctvinnertxt {
  font-size: 15px;
  color: black;
  position: absolute;
  top: 590px;
  left: 200px;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

#sensortxt {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 560px;
  left: 580px;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

#sensorinnertxt {
  font-size: 15px;
  color: black;
  position: absolute;
  top: 590px;
  left: 580px;
  font-family: "Blinker", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

#playbtn1 {
  position: absolute;
  top: 240px;
  left: 420px;
  cursor: pointer;
}

#playbtn2 {
  position: absolute;
  top: 240px;
  left: 910px;
  cursor: pointer;
}

#playbtn3 {
  position: absolute;
  top: 480px;
  left: 300px;
  cursor: pointer;
}

#playbtn4 {
  position: absolute;
  top: 480px;
  left: 800px;
  cursor: pointer;
}

#thirdPage {
  background-color: rgb(160, 154, 154);
  height: 100vh;
  position: absolute;
  top: 1314px;
}

#thirdmainP {
  text-align: center;
  margin-top: 20px;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
}

#thirdHead {
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}

#thirdMid {
  height: 180px;
  width: 450px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: white;
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 15px 10px;
  position: absolute;
  left: 400px;
  top: 250px;
}

#thirdMid h1 {
  text-align: center;
  margin-top: 20px;
}

#thirdMid p {
  text-align: center;
  margin-top: 10px;
}

#larmCCtv {
  width: 400px;
  height: 300px;
  opacity: 0.8;
  margin-top: -80px;
  margin-left: 935px;
}

#YellowCctv {
  position: absolute;
  top: 450px;
  left: 1100px;
  width: 150px;
  height: 150px;
  opacity: 0.8;
}

#Camera {
  width: 150px;
  height: 150px;
  opacity: 0.8;
  position: absolute;
  left: 100px;
  top: 150px;
}

#rannCCtv {
  width: 150px;
  height: 150px;
  opacity: 0.8;
  position: absolute;
  left: 100px;
  top: 450px;
}

#redDot1 {
  position: absolute;
  left: 270px;
  top: 450px;
}

#redDot2 {
  position: absolute;
  top: 450px;
  left: 1000px;
}

#redDot3 {
  position: relative;
  top: -100px;
  left: 935px;
}

#blueDot {
  position: absolute;
  left: 300px;
  top: 250px;
}
